&invn_i2c {
	#address-cells = <1>;
	#size-cells = <0>;

	invn_icm_i2c: iam20680@68 {
		compatible = "invensense,iam20680";
		reg = <0x68>;
		interrupt-parent = <&invn_gpio>;
		interrupts = <0 IRQ_TYPE_EDGE_RISING>;
		inven,vdd_ana-supply = <&invn_vdd>;
		inven,vcc_i2c-supply = <&invn_vddio>;
		axis_map_x = <1>;
		axis_map_y = <0>;
		axis_map_z = <2>;
		negate_x = <1>;
		negate_y = <0>;
		negate_z = <0>;
		inven,secondary_type = "none";
		inven,aux_type = "none";
		inven,read_only_slave_type = "none";
	};
};

&invn_spi {
	#address-cells = <1>;
	#size-cells = <0>;

	invn_icm_spi: iam20680@0 {
		compatible = "invensense,iam20680";
		reg = <0>;
		spi-max-frequency = <8000000>;
		spi-cpol;
		spi-cpha;
		interrupt-parent = <&invn_gpio>;
		interrupts = <0 IRQ_TYPE_EDGE_RISING>;
		inven,vdd_ana-supply = <&invn_vdd>;
		inven,vcc_i2c-supply = <&invn_vddio>;
		axis_map_x = <1>;
		axis_map_y = <0>;
		axis_map_z = <2>;
		negate_x = <1>;
		negate_y = <0>;
		negate_z = <0>;
		inven,secondary_type = "none";
		inven,aux_type = "none";
		inven,read_only_slave_type = "none";
	};
};
